* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

body {
  background-color: #a3d2ca;
  color: #db6400;
  margin-top: 3vw;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{ 
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  margin: 2vw;
}
.user-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid f8f1f1;
  border-radius: 5px;
  border: 5px solid #f8f1f1;
  width: auto;
  margin: auto;
}

.user-image img{
  border: 5px solid #f8f1f1;
  border-radius: 50%;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
}

p {
  margin: 0.5vw;
  font-size: 1.2rem;
  font-weight: 700;
}